version: '3.8'

services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: rsm-uptime-kuma
    volumes:
      - uptime-kuma-data:/app/data
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - rsm-network

networks:
  rsm-network:
    external: true

volumes:
  uptime-kuma-data:
    driver: local
